@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Noto Serif', serif;
}

.navbar{
    background: #067b93a8;
    display: flex;
    justify-content: flex-end;
    gap: 5rem;
    padding: 1rem;
}
.navbar-cocktail, .navbar-home{
    color: white;
    text-decoration: none !important;
    font-size: 1.2rem;
}



.cocktails_section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    grid-column-gap: 3rem;
    grid-row-gap: 0;
    margin: 3rem;
}
.cocktail-item{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    margin: 1rem 0rem 1rem 0rem;
    box-shadow: 0px 2px 8px 0px #5ba8b86e;
}
img{
    /* height: 12rem;
    width: 20rem; */
    height: 100%;
    width: 100%;
    border-radius: 1rem;
}
button{
    height: 1.5rem;
    color: white;
    background: #5ba8b8;
    border: none;
    border-radius: 0.4rem;
}



.cocktail_search{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    gap: 2rem;
    padding: 1rem;
}
.cocktail_search__label{
    font-size: 1.3rem;
    font-weight: bold;
}
input{
    height: 1.5rem;
    width: 17rem;
    border-color: #5ba8b854;
    border-radius: 0.4rem;
    font-size: 1.4rem;
    padding: 0.4rem;
    color: #5ba8b8;
}
input:hover{
    border-color:#b92a2a
}



.home-container{
    margin: 1.5rem;
}
.home_header{
    margin-bottom: 1rem;
}

.home_para{
    letter-spacing: 0.5px;
}


.modal{
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 1rem;
    gap: 1rem;
}
.modal_img{
    height: 50%;
    width: 100% !important;
    border-radius: 1rem;
    object-fit: cover;
}
.modal-right{
    display: grid;
    gap: 0.5rem;
}
.modal_title{
    font-weight: bold;
    background: #5ba8b8;
    color: white;
    display: grid;
    align-items: center;
}
@media screen and (max-width:1000px) {
    .cocktails_section{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        place-items: center;
        grid-column-gap: 2rem;
        grid-row-gap: 0;
        margin: 1rem;
    }
}
@media screen and (max-width:900px) {
    .cocktails_section{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        place-items: center;
        grid-column-gap: 1rem;
        grid-row-gap: 0;
        margin: 1rem;
    }
}

@media screen and (max-width:750px) {
    .cocktails_section{
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        grid-column-gap: 1rem;
        grid-row-gap: 0;
        margin: 1rem;
    }
}
@media screen and (max-width:565px) {
    .cocktail_search__label{
        font-size: 1.1rem;
        font-weight: bold;
    }
    input{
        height: 1.3rem;
        width: 15rem;
        border-color: #5ba8b854;
        border-radius: 0.4rem;
        font-size: 1.2rem;
        padding: 0.3rem;
        color: #5ba8b8;
    }
    .id{
        font-size: 0.9rem;
    }
}
@media screen and (max-width:500px) {
    .cocktails_section{
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
        grid-column-gap: 1rem;
        grid-row-gap: 0;
        margin: 1rem;
    }
    .cocktails_section {
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
        grid-column-gap: 1rem;
        grid-row-gap: 0px;
        margin: 0rem 4rem 0rem 4rem;
    }
.cocktail_search{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    gap: 0rem;
}
.cocktail_search__label{
    font-size: 1rem;
    font-weight: bold;
}
input{
    height: 1.3rem;
    width: 15rem;
    border-color: #5ba8b854;
    border-radius: 0.4rem;
    font-size: 1.2rem;
    padding: 0.3rem;
    color: #5ba8b8;
}
.id{
    font-size: 0.7rem;
}
}

@media screen and (max-width:360px) {
    .cocktail_search__label{
        font-size: 1rem;
        font-weight: bold;
    }
    input{
        height: 1.3rem;
        width: 14rem;
        border-color: #5ba8b854;
        border-radius: 0.4rem;
        font-size: 1.2rem;
        padding: 0.3rem;
        color: #5ba8b8;
    }
    .id{
        font-size: 0.6rem;
    }
}
